tbody tr:hover
{
    background-color: aliceblue;
    cursor: pointer;
}

.columnHeader {
    border: 0px;
    padding: 0px;
    color: #FAFAFA;
    font-weight: 700;
}

th {
    background-color: #1E1E1E;
    position: sticky;
    position: -webkit-sticky;
    top: 37px;
    z-index: 1;
}

.table {
    color: #B2B2B2;
}

table.table > tbody > tr:hover td,
table.table > tbody > tr:hover th {
    background-color: #383838;
    color: #FAFAFA;
}
