@using DataSource;
@using DataView;

<td class="@GetCellStyle()">@GetCellValue()</td>

@code {
    [Parameter]
    public DataView? DataView { get; set; }

    [Parameter]
    public DataRow? Row { get; set; }

    [Parameter]
    public DataViewColumn? Column { get; set; }

    private string GetCellStyle()
    {
        var result = string.Empty;
        if (Column == null)
            return result;

        if (Column.HorizontalAlign == DataViewColumnContentAlign.Right)
            result += "text-end ";
        result += "text-nowrap ";

        return result;
    }

    public string? GetCellValue()
    {
        var result = string.Empty;
        if (Column == null || Row == null)
            return result;

        var dataColumn = DataView?.Result?.Columns.ToList().FirstOrDefault(dc => dc.ColumnName == Column.PrimaryDataColumnName);
        if (dataColumn == null)
            return "Column not found";

        var value = Row[dataColumn];
        if (value == null)
            return Column.NullValue;

        return (value.CurrentValue as decimal?)?.ToString(Column.Format);
    }
}
