@using DataSource;
@using DataViews;

<td><RadzenCheckBox TValue="bool" class="checkbox" Value=@GetChecked() /></td>
@code {
    [Parameter]
    public DataView? DataView { get; set; }

    [Parameter]
    public DataRow? Row { get; set; }

    [Parameter]
    public DataViewColumn? Column { get; set; }

    bool GetChecked()
    {
        bool result = false;
        if (Column == null || Row == null)
            return result;
        
        var value = Row[Column.PrimaryDataColumnName].OriginalValue;
        if (value == null)
            return result;
        
        return value as bool? ?? false;
    }
}
