<button class="btn btn-primary" @onclick="ReloadData"><span class="fa fa-refresh"></span></button>


<table class="table">
    
    <thead>
        <tr>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
      @*   @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Meter</td>

            </tr>
        } *@
    </tbody>
</table>
@code {
    [Parameter]
    public EventCallback ReloadDataRequested { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    private async Task ReloadData()
    {
        await ReloadDataRequested.InvokeAsync();
    }
}
