<form>
    <div class="form-group">
      <label for="account">Konto</label>
      <input type="input" class="form-control" id="account" placeholder="Wybierz konto" [value]="transaction?.account">
    </div>
    <div class="form-group">
      <label for="category">Kategoria</label>
      <input type="input" class="form-control" id="category" placeholder="Wybierz kategorię" [value]="transaction?.category">
    </div>
    <div class="form-group">
      <label for="amount">Kwota</label>
      <input type="input" class="form-control" id="amount" placeholder="Wpisz kwotę" [value]="transaction?.amount">
    </div>
    <div class="form-group">
      <label for="description">Opis</label>
      <input type="input" class="form-control" id="description" [value]="transaction?.description">
    </div>
    <div class="form-group">
      <label for="comment">Komentarz</label>
      <input type="input" class="form-control" id="comment" [value]="transaction?.comment">
    </div>
    <div class="form-group">
      <label for="details">Szczegóły</label>
      <input type="input" class="form-control" id="details" [value]="transaction?.details">
    </div>
    <div class="form-group">
      <label for="person">Osoba</label>
      <input type="input" class="form-control" id="person" [value]="transaction?.person">
    </div>
    <div class="form-group">
      <label for="bankInfo">Informacje z banku</label>
      <p *ngFor="let bankInfo of getBankInfo(transaction)" class="font-weight-light" [class.paragraphError]="bankInfo?.isError" >{{bankInfo.title}}: {{bankInfo.value}}</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>