tr 
{
    cursor: pointer;
}

th 
{
    cursor: pointer;
}

.table-responsive 
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.showAll{
    cursor: pointer;
}

.filterDropdown {
    width: 15em;
}

.date {
    white-space: nowrap;
}

p {
    margin-bottom: 0;
}
.subcomment {
    font-size: small;
    font-style: italic;
}


.amount {
    font-weight:bold;
}
.negative {
    color: red;
}

.positive {
    color: green;
}