<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <span *ngIf="maximumVisibleNumberOfRecords != 0 && currentNumberOfRecords < filteredNumberOfRecords && currentNumberOfRecords > 0">
          Widoczne {{currentNumberOfRecords | formattedNumber}} z {{filteredNumberOfRecords | formattedNumber}} rekordów. <span class="showAll" (click)="showAll()">Pokaż wszystkie.</span>
        </span>
        <span *ngIf="maximumVisibleNumberOfRecords == 0 && filteredNumberOfRecords > 0">
          Widoczne wszystkie {{filteredNumberOfRecords}} rekordów. <span class="showAll" (click)="showSome()">Pokaż część.</span>
        </span>
        <span *ngIf="maximumVisibleNumberOfRecords != 0 && currentNumberOfRecords == filteredNumberOfRecords && currentNumberOfRecords > 0">
          Widoczne wszystkie {{filteredNumberOfRecords}} rekordów.
        </span>
        <span *ngIf="currentNumberOfRecords == 0">
          Brak rekordów.
        </span>
        <div *ngIf="currentNumberOfRecords > 0">
          Suma: 
          <div *ngFor="let amount of totalAmounts">
            {{amount.currency}}: {{amount.amount | formattedAmount}} ({{amount.incoming | formattedAmount}} / {{amount.outgoing | formattedAmount}})
          </div>
        </div>
      </div>

    
      <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="scrapButtonClick()">Pobierz z mBanku</button>
        <button (click)="addNew()" class="btn btn-secondary">Dodaj</button>
        <div class="table-responsive">
          <table class="table table-hover overflow-auto table-striped">
            <thead class="text-primary">
              <!-- <th (click)="sort('scrappingDate')">
                Data pobrania
              </th> -->
              <th>
                <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown">
                  <i class="fa fa-filter" ngbDropdownToggle></i>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDateDropdown">
                    <!-- <date-filter [dateFrom]="this.dateFromFilter" (dateChanged)="filterByDateApply($event)"></date-filter> -->
                    <!-- <button (click)="filterByDateApply()" class="btn btn-outline-primary" ngbDropdownToggle>Zastosuj</button> -->
                  </div>
                </div>
                <span (click)="sort('date')">&nbsp;Data</span>
              </th>
              <th>
                
                <span (click)="sort('account')">&nbsp;Konto</span>
              </th>
              <th>
                <div ngbDropdown class="d-inline-block" #categoryFilterDropdown="ngbDropdown">
                  <i class="fa fa-filter" ngbDropdownToggle></i>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDropdown">
                    <div class="list-group filterElement">
                      <div >&nbsp;<input type="radio" id="all" value="all" name="category" (click)="filterByCategory('');$event.stopPropagation();categoryFilterDropdown.close();" [checked]="isFilteredByCategory('all')"><label for="all">&nbsp;Wszystkie</label></div>
                      <div >&nbsp;<input type="radio" id="missing" value="missing" name="category" (click)="filterByCategory('missing');$event.stopPropagation();categoryFilterDropdown.close();" [checked]="isFilteredByCategory('missing')"><label for="missing">&nbsp;Niewypełnione</label></div>
                      <div *ngFor="let category of primaryCategoryList">&nbsp;<input type="radio" id="{{category.title}}" value="{{category.title}}" name="category" (click)="filterByCategory(category.title);$event.stopPropagation();categoryFilterDropdown.close();" [checked]="isFilteredByCategory('category.title')"><label for="{{category.title}}">&nbsp;{{category.title}}</label></div>
                      <div >&nbsp;<input type="radio" id="all" value="other" name="category" [checked]="isFilteredByCategory('other')"><label for="other">&nbsp;Mało używane</label></div>
                      <select #categoryList class="form-control" id="category" (change)="filterByCategory(categoryList.value);$event.stopPropagation();categoryFilterDropdown.close();" [value]="getCategorySecondaryFilter()">
                        <option></option>
                        <option *ngFor="let category of secondaryCategoryList">{{category.title}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <span (click)="sort('category')">&nbsp;Kategoria</span>
              </th>
              <th class="text-right" (click)="sort('amount')">
                Kwota
              </th>
              <th>
                <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown">
                  <i class="fa fa-filter" ngbDropdownToggle></i>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDropdown">
                    <free-text-filter (filterChanged)="freeTextFilter($event);"></free-text-filter>
                  </div>
                </div>
                <span (click)="sort('description')">&nbsp;Opis</span>
              </th>
              <!-- <th (click)="sort('details')">
                Szczegóły
              </th>
              <th (click)="sort('person')">
                Osoba
              </th> -->
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSubject | async" (click)="selectTransaction(row.id)">
                <!-- <td class="date">{{row.scrappingDate | date: 'yyyy-MM-dd'}}</td> -->
                <td class="date">{{row.date | formattedDate}}</td>
                <td>{{row.account}}</td>
                <td>{{row.category}}</td>
                <td class="text-right amount" [class.negative]="row.amount<0" [class.positive]="row.amount>0">{{row.amount | number:'1.2-2'}} {{row.currency}}</td>
                <td><p>{{row.bankInfo}}</p><p class="subcomment">{{row.comment}}</p></td>
                <!-- <td>{{row.details}}</td>
                <td>{{row.person}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
