tr 
{
    cursor: pointer;
}

th 
{
    cursor: pointer;
}

.table-responsive 
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.showAll{
    cursor: pointer;
}

.filterDropdown {
    width: 15em;
}

.date {
    white-space: nowrap;
}