<!-- <loading-indicator *ngIf="loading"></loading-indicator> -->

<button type="button" class="btn btn-primary" (click)="scrapButtonClick()">Scrap</button>
<button type="button" class="btn btn-primary" (click)="datasetButtonClick()">Dataset</button>


<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" *ngIf="!showAllRecords">
        Widoczne {{numberOfRecords}} z {{totalNumberOfRecords}} rekordów. <span class="showAll" (click)="showAll()">Pokaż wszystkie.</span>
      </div>
      <div class="card-header" *ngIf="showAllRecords">
        Widoczne wszystkie {{totalNumberOfRecords}} rekordów. <span class="showAll" (click)="showSome()">Pokaż część.</span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover overflow-auto table-striped">
            <thead class="text-primary">
              <th (click)="sort('date')">
                Data
              </th>
              <th>
                <div ngbDropdown class="d-inline-block" #accountFilterDropdown="ngbDropdown">
                  <i class="fa fa-filter" ngbDropdownToggle></i>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDropdown">
                    <div class="list-group filterElement">
                      <div >&nbsp;<input type="radio" id="all" value="all" name="account" (click)="filterByAccount('');$event.stopPropagation();accountFilterDropdown.close();" [checked]="this.accountFilter===''"><label for="all">&nbsp;Wszystkie</label></div>
                      <div *ngFor="let account of accountList">&nbsp;<input type="radio" id="{{account}}" value="{{account}}" name="account" (click)="filterByAccount(account);$event.stopPropagation();accountFilterDropdown.close();" [checked]="this.accountFilter===account"><label for="{{account}}">&nbsp;{{account}}</label></div>
                    </div>
                  </div>
                </div>
                <span (click)="sort('account')">&nbsp;Konto</span>
              </th>
              <th (click)="sort('category')">
                Kategoria
              </th>
              <th class="text-right" (click)="sort('amount')">
                Kwota
              </th>
              <th (click)="sort('details')">
                Szczegóły
              </th>
              <th (click)="sort('person')">
                Osoba
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSubject | async" (click)="selectTransaction(row.scrapID)">
                  <td>{{row.date | date: 'yyyy-MM-dd'}}</td>
                  <td>{{row.account}}</td>
                  <td>{{row.category}}</td>
                  <td class="text-right">{{row.amount}}</td>
                  <td>{{row.details}}</td>
                  <td>{{row.person}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
