tr 
{
    cursor: pointer;
}

th 
{
    cursor: pointer;
}

.table-responsive 
{
    overflow-x: hidden;
    overflow-y: hidden;
}


.filterDropdown {
    width: 15em;
}

.amount {
    font-weight:bold;
    white-space: nowrap;
}