<div class="form-check">
    <input class="form-check-input" type="checkbox" [id]="name + '_in'" [checked]="isDirectionSelected('in')" (change)="setIn($event.target.checked)" />
    <label class="form-check-label" [for]="name + '_in'">Przychodzące</label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" [id]="name + '_out'" [checked]="isDirectionSelected('out')" (change)="setOut($event.target.checked)"/>
    <label class="form-check-label" [for]="name + '_out'">Wychodzące</label>
</div>
<ng-container *ngFor="let currency of currencyList">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" [value]="currency.id" [id]="name + '_' + currency.id" [checked]="isCurrencySelected(currency.id)" (change)="setCurrency($event.target.value, $event.target.checked)" />
        <label class="form-check-label" [for]="name + '_' + currency.id">{{currency.id}}</label>
    </div>
</ng-container>
