@* @page "/electricity"

<PageTitle>Prąd</PageTitle>

@using Finances.Entities.Electricity;
@using FinancesBlazor.Components.Grid;
@inject ElectricityService _service

<h1>Weather forecast</h1>

<FinancesBlazor.Components.Grid.Grid ReloadDataRequested="ReloadDataRequested" Settings="_settings" Data="_data" />

@code {
    private GridSettings _settings;
    private object[]? _data;

    public Electricity()
    {
        _settings = new GridSettings("e")
            {
                SortingColumnDataName = "Date",
                SortingDescending = true,
                Columns = new List<GridColumn> {
                    new GridColumn("Data", "Date", DataAccess.DataTypes.Date),
                    new GridColumn("Licznik", "Meter", DataAccess.DataTypes.Precision, format: "0.0"),
                    new GridColumn("Komentarz", "Comment", DataAccess.DataTypes.Text) }
                    .ToArray()
            };
    }

    protected async Task ReloadDataRequested()
    {
        _data = await _service.Get(_settings.SortingColumnDataName, _settings.SortingDescending);
    }
}
 *@