<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <button (click)="addNew()" class="btn btn-primary">Dodaj</button>
        <div class="table-responsive">
          <table class="table table-hover overflow-auto table-striped">
            <thead class="text-primary">
              <th (click)="sort('category')">
                Kategoria
              </th>
              <th (click)="sort('bankInfo')">
                Opis w banku
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSubject | async" (click)="selectRecord(row.id)">
                  <td>{{row.category}}</td>
                  <td>{{row.bankInfo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
