@using FinancesBlazor.DataAccess;
@using FinancesBlazor.Extensions;
@inject NavigationManager navManager;

@if (Settings != null && Column != null)
{
    <button type="button" class="btn btn-primary btn-sm" @onclick="() => SortClick(false)"><span class="fa fa-arrow-up"></span></button>
    <button type="button" class="btn btn-secondary btn-sm" @onclick="() => SortClick(true)"><span class="fa fa-arrow-down"></span></button>
    @switch (Column.DataType)
    {
       case DataTypes.Text: 
            <TextFilter Column="@Column" /> 
            break;
        case DataTypes.Date:
            <DateFilter Column="@Column" />
            break;
        case DataTypes.Precision:
            <PrecisionFilter Column="@Column" />
            break;
    }
    
}
@code {
    [Parameter]
    public GridSettings? Settings { get; set; }

    [Parameter]
    public GridColumn? Column { get; set; }

    public void SortClick(bool descending)
    {
        if (Settings == null)
            return;
       // navManager.NavigateWithQueryStringValue(Settings.Name, "1234fre");
        //navManager.NavigateTo($"{navManager.Uri}?test=abc");
    }
}
