@using FinancesBlazor.ViewManager;
@using FinancesBlazor.DataAccess;

@inject ViewManager _viewManager;

@if (Column != null)
{
    <div class="outer">
        <div class="text-end">
            <button type="button" class="btn btn-primary btn-sm" @onclick="() => SortClick(false)"><span class="fa fa-arrow-up"></span></button>
            <button type="button" class="btn btn-primary btn-sm" @onclick="() => SortClick(true)"><span class="fa fa-arrow-down"></span></button>
        </div>
        @switch (Column.DataType)
        {
           case DataTypes.Text:
                <TextFilter Column="@Column" ParametersChanged="TextFilterChanged" @ref=textFilter />
                break;
            case DataTypes.Date:
                <DateFilter Column="@Column" @ref=dateFilter />
                break;
            case DataTypes.Precision:
                <PrecisionFilter Column="@Column" @ref=precisionFilter />
                break;
        }
    </div>
}
@code {
    TextFilter? textFilter;
    DateFilter? dateFilter;
    PrecisionFilter? precisionFilter;

    [Parameter]
    public Column? Column { get; set; }

    [Parameter]
    public EventCallback<bool> ParametersChanged { get; set; }

    public async Task OnOpen()
    {
        switch (Column?.DataType)
        {
            case DataTypes.Text:
                if (textFilter!=null) await textFilter.OnOpen();
                break;
            case DataTypes.Date:
               // if (dateFilter != null) await dateFilter.OnOpen();
                break;
            case DataTypes.Precision:
               // if (precisionFilter != null) await precisionFilter.OnOpen();
                break;
        }
    }

    public async Task SortClick(bool descending)
    {
        if (Column == null || _viewManager?.ActiveView?.Parameters == null)
            return;

        _viewManager.ActiveView.Parameters.SortingColumnDataName = Column.Data;
        _viewManager.ActiveView.Parameters.SortingDescending = descending;
        await ParametersChanged.InvokeAsync(true);
    }

    public async Task TextFilterChanged(bool closeFilters)
    {
        await ParametersChanged.InvokeAsync(closeFilters);
    }
}
