<!-- <loading-indicator *ngIf="loading"></loading-indicator> -->
<app-document-state></app-document-state>
<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" *ngIf="!showAllRecords">
        Widoczne {{numberOfRecords}} z {{totalNumberOfRecords}} rekordów. <span class="showAll" (click)="showAll()">Pokaż wszystkie.</span>
      </div>
      <div class="card-header" *ngIf="showAllRecords">
        Widoczne wszystkie {{totalNumberOfRecords}} rekordów. <span class="showAll" (click)="showSome()">Pokaż część.</span>
      </div>
      <div class="card-body">
        <button (click)="addNew()" class="btn btn-primary">Dodaj</button>
        <div class="table-responsive">
          <table class="table table-hover overflow-auto table-striped">
            <thead class="text-primary">
              <th (click)="sort('number')">
                Numer
              </th>
              <th (click)="sort('date')">
                Data
              </th>
              <th (click)="sort('company')">
                Firma
              </th>
              <th (click)="sort('description')">
                Opis
              </th>
              <th (click)="sort('invoiceNumber')">
                Faktura
              </th>
              <th>
                Relacje
              </th>  
              <th><!-- link to document --></th>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSubject | async" (click)="selectRecord(row.id)">
                <td>{{row.number}}</td>
                <td>{{row.date | date: 'yyyy-MM-dd'}}</td>
                <td>{{row.company}}</td>
                <td>{{row.description}}</td>
                <td>{{row.invoiceNumber}}</td>
                <td>
                  <p *ngIf="row.person" class="subcomment">{{row.person}}</p>
                  <p *ngIf="row.car" class="subcomment">{{row.car}}</p>
                  <p *ngIf="row.relatedObject" class="subcomment">{{row.relatedObject}}</p>
                  <p *ngIf="row.guarantee" class="subcomment">{{row.guarantee}}</p>
                </td>
                <td (click)="openDocument(row);$event.stopPropagation()"><span *ngIf="documentsOpened"> <i class="nc-icon nc-image"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
