tr 
{
    cursor: pointer;
}

th 
{
    cursor: pointer;
}

.table-responsive 
{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 400px;
}

.filterDropdown {
    width: 15em;
}

p {
    margin-bottom: 0;
}
.subcomment {
    font-size: small;
    font-style: italic;
}

.date {
    white-space: nowrap;
}

.showAll{
    cursor: pointer;
}

.filterDateDropdown {
    width: 25em;
}