<div class="card ">
  <div class="card-header">   
    <h5 class="card-title">Rachunki</h5>
    <!-- <p class="card-category">24 Hours performance</p> -->
  </div>
  <div class="card-body ">
    <table class="table table-striped">
      <thead class="text-primary">
        <th></th>
        <th *ngFor="let date of dates" class="table-header card-category">
          {{date.numericDate}}<br />
          {{date.monthName}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories" class="clickable" (click)="showTransactions(category.name)">
          <td>
            {{category.name}}
          </td>
          <td *ngFor="let amount of category.amounts">
            {{amount.amount | number:'1.2-2'}}
          </td>
        </tr>
        <tr>
          <td>
            Suma
          </td>
          <td *ngFor="let sum of sums">
            {{sum.amount | number:'1.2-2'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="stats" (click)="open(content)">
      <i class="nc-icon nc-settings-gear-65"></i> Konfiguruj
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Wybierz konta</h4>
  </div>
  <div class="modal-body">
    <div class="list-group filterElement">
      <div *ngFor="let category of allCategories">&nbsp;<input type="checkbox" id="{{category.title}}" value="{{category.title}}" name="category"><label for="{{category.title}}">&nbsp;{{category.title}}</label></div>
      <!-- <div *ngFor="let category of allCategories">&nbsp;<input type="radio" id="{{category.title}}" value="{{category.title}}" name="category" [checked]="this.accountFilter===account.title"><label for="{{account.title}}">&nbsp;{{account.title}}</label></div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('back')">Anuluj</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('save')">Zapisz</button>
  </div>
</ng-template>