<div class="card ">
  <div class="card-header">   
    <h5 class="card-title">{{title}}</h5>
  </div>
  <div class="card-body ">
    <table class="table table-striped">
      <thead class="text-primary">
        <th></th>
        <th *ngFor="let date of dates" class="table-header card-category">
          {{date.numericDate}}<br />
          {{date.monthName}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories" class="clickable" (click)="showTransactions(category.name)">
          <td>
            {{category.name}}
          </td>
          <td *ngFor="let amount of category.amounts">
            {{amount.amount | number:'1.2-2'}}
          </td>
        </tr>
        <tr *ngIf="!skipSums" class="sumRow">
          <td>
            Suma
          </td>
          <td *ngFor="let sum of sums">
            {{sum.amount | number:'1.2-2'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
