<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <ng-container *ngIf="currentView$ | async as currentView">
                                <span *ngIf="currentView.maximumVisibleNumberOfRecords != 0 && currentView.displayedData.length < currentView.filteredData.length && currentView.displayedData.length > 0">
                                    Widoczne {{currentView.displayedData.length | formattedNumber}} z {{currentView.filteredData.length | formattedNumber}} rekordów. <span class="link" (click)="maximumNumberOfRecordsToShow=0">Pokaż wszystkie.</span>
                                </span>
                                <span *ngIf="currentView.maximumVisibleNumberOfRecords == 0 && currentView.filteredData.length > 0">
                                    Widoczne wszystkie {{currentView.filteredData.length | formattedNumber}} rekordów. <span class="link" (click)="maximumNumberOfRecordsToShow=100">Pokaż pierwsze 100.</span>
                                </span>
                                <span *ngIf="currentView.maximumVisibleNumberOfRecords != 0 && currentView.displayedData.length == currentView.filteredData.length && currentView.displayedData.length > 0">
                                    Widoczne wszystkie {{currentView.displayedData?.length| formattedNumber}} rekordów.
                                </span>
                                <span *ngIf="currentView.displayedData.length == 0">
                                    Brak rekordów.
                                </span> 
                            </ng-container>
                        </div>
                        <div class="col-6 text-right">
                            <ng-container *ngIf="currentView$ | async as currentView">
                                <ng-container *ngFor="let summary of summaries">
                                    <ng-container *ngIf="summary.name==='amount-currency' && currentView.amountCurrency">
                                        <div *ngFor="let amount of currentView.amountCurrency.amounts">
                                            {{amount.currency}}: {{amount.amount | formattedAmount}} ({{amount.incoming | formattedAmount}} / {{amount.outgoing | formattedAmount}})
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <ng-container *ngFor="let toolbarElement of toolbarElements">
                    <button class="btn btn-primary" (click)="toolbarElementClicked(toolbarElement)">{{toolbarElement.title}}</button>
                </ng-container>
                <grid [name]="name" [columns]="columns" [data]="data"
                    [initialSortColumn]="initialSortColumn" [initialSortOrder]="initialSortOrder"
                    [maximumNumberOfRecordsToShow] = "maximumNumberOfRecordsToShow"
                    (viewChanged)="viewChanged($event)"></grid>
            </div>
        </div>
    </div>
</div>