.link {
    cursor: pointer;
    text-decoration: underline;
}

.right-header {
    text-align: right;
}

.container {
    margin: 0px;
}

td {
    padding-right: 1em;
}

.sum > td { 
    border-top-style: double;
}