@using DataSource;
@using DataView;
@using FinancesBlazor.Components.Grid.Cells;

<tr class="@(_checked ? "checked" : null)">
    <td><RadzenCheckBox class="checkbox" @bind-Value=@_checked /></td>
    @foreach (var column in DataView?.Columns!)
    {
        <DynamicCell DataView=@DataView Row=@Row Column=column></DynamicCell>
    }
</tr>

@code {
    [Parameter]
    public DataView? DataView { get; set; }

    [Parameter]
    public Dictionary<DataColumn, object?>? Row { get; set; }

    private bool _checked;
}
