<div class="d-flex flex-column min-vh-100 min-vw-80">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="spinner-border purple" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div> 