@using DataSource;
@using DataView;
@using FinancesBlazor.Components.Details.Cells;
@using FinancesBlazor.Components.Spinner
@inject DataViewManager _dataViewManager;
@implements IDisposable;

@if (DataView?.IsSaving != false)
{
    <Spinner></Spinner>
}
else
{
    <div>
        <button class="btn btn-primary" @onclick="Save">Zapisz</button>
        <button class="btn btn-primary" @onclick="Close">X</button>
        @foreach (var column in DataView.Columns)
        {
            <DynamicCell DataView=@DataView Row=@Row Column=column></DynamicCell>
        }
    </div>   
}

@code {
    [Parameter]
    public DataView? DataView { get; set; }

    [Parameter]
    public DataRow? Row { get; set; }


    protected override void OnInitialized()
    {
        _dataViewManager.ViewChanged += ViewChanged;

    }

    void ViewChanged(object? sender, DataView e)
    {
        if (DataView != e)
            return;
        StateHasChanged();
    }

    private async Task Save()
    {
        await _dataViewManager.SaveChanges(DataView, Row);
    }

    private void Close()
    {
        if (DataView == null)
            return;
        _dataViewManager.UncheckRecord(DataView, Row);
        _dataViewManager.Save(DataView);
    }

    void IDisposable.Dispose()
    {
        _dataViewManager.ViewChanged -= ViewChanged;
    }
}
