div {
    border-right-color: #7160E8;
    border-right-style: solid;
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    padding: 10px;
}

button {
    margin-bottom: 15px;
}