<div class="table-responsive">
    <table class="table table-hover overflow-auto table-striped">
    <thead class="text-primary">
        <th *ngFor="let column of columns" [class.alignRight]="column.alignment=='right'">
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.component==='text'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterTextDropdown">
              <text-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="dataFilteringService.addFilter(column, params, $event); navigate();" [filterValue]="dataFilteringService.getFilter(column, params)"></text-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.component==='date'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDateDropdown">
              <date-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="dataFilteringService.addFilter(column, params, $event); navigate();" [filterValue]="dataFilteringService.getFilter(column, params)"></date-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.component==='list'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterListDropdown">
              <list-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="dataFilteringService.addFilter(column, params, $event); navigate();" [filterValue]="dataFilteringService.getFilter(column, params)"></list-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.component==='amount'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterAmountDropdown">
              <amount-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="dataFilteringService.addFilter(column, params, $event); navigate();" [filterValue]="dataFilteringService.getFilter(column, params)"></amount-filter>
            </div>
          </div>
          <span (click)="sort(column)">{{column.title}}</span>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let row of dataSubject | async">
            <td *ngFor="let column of columns" 
              [class.deleted]="row.deleted" 
              [class.alignRight]="column.alignment=='right'"
              [class.negative]="column.conditionalFormatting=='amount' && row[column.dataProperty]<0"
              [class.positive]="column.conditionalFormatting=='amount' && row[column.dataProperty]>0"
              [class.noWrap]="column.noWrap"
              (click)="selectRecord(row, column);">
              <p *ngIf="column.dataProperty && row[column.dataProperty] && column.component!='icon'">{{row[column.dataProperty] | dynamic:column.pipe}}
                <ng-container *ngIf="column.additionalDataProperty1 && row[column.additionalDataProperty1]"> {{row[column.additionalDataProperty1]}}</ng-container>
              </p>
              <p *ngIf="column.subDataProperty1 && row[column.subDataProperty1]" class="subDataProperty1"> {{ row[column.subDataProperty1]}}</p>
              <p *ngIf="column.subDataProperty2 && row[column.subDataProperty2]" class="subDataProperty1"> {{ row[column.subDataProperty2]}}</p>
              <p *ngIf="column.subDataProperty3 && row[column.subDataProperty3]" class="subDataProperty1"> {{ row[column.subDataProperty3]}}</p>
              <p *ngIf="column.subDataProperty4 && row[column.subDataProperty4]" class="subDataProperty1"> {{ row[column.subDataProperty4]}}</p>
              <i *ngIf="column.component==='icon'" [class]="'nc-icon ' + column.dataProperty"></i>
            </td>
        </tr>
    </tbody>
  </table>
</div>