<div class="table-responsive">
    <table class="table table-hover overflow-auto table-striped">
    <thead class="text-primary">
        <th *ngFor="let column of columns" [class.alignRight]="column.alignment=='right'">
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.filterComponent==='free-text'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterFreeTextDropdown">
              <free-text-filter (filterChanged)="freeTextFilterApply(column, $event);" [initialValue]="getFilterValueFromParam(column)"></free-text-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.filterComponent==='date'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterDateDropdown">
              <date-filter [dateFrom]="getDateFilterValueFromParam(column, true)" [dateTo]="getDateFilterValueFromParam(column, false)" (dateChanged)="dateFilterApply(column,$event)"></date-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.filterComponent==='list'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterListDropdown">
              <list-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="listFilterApply(column, $event)" [filterValue]="getFilterValueFromParam(column)"></list-filter>
            </div>
          </div>
          <div ngbDropdown class="d-inline-block" #descriptionFilterDropdown="ngbDropdown" *ngIf="column.filterComponent==='amount'">
            <i class="fa fa-filter" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="filterAmountDropdown">
              <amount-filter [name]="column.dataProperty" [data]="data" [options]="column.filterOptions" (filterChanged)="amountFilterApply(column, $event)" [filterValue]="getAmountFilterValueFromParam(column)"></amount-filter>
            </div>
          </div>
          <span (click)="sort(column)">{{column.title}}</span>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let row of dataSubject | async" (click)="selectRecord(row.id);">
            <td *ngFor="let column of columns" 
              [class.deleted]="row.deleted" 
              [class.alignRight]="column.alignment=='right'"
              [class.negative]="column.conditionalFormatting=='amount' && row[column.dataProperty]<0"
              [class.positive]="column.conditionalFormatting=='amount' && row[column.dataProperty]>0"
              [class.noWrap]="column.noWrap"
            >{{row[column.dataProperty] | dynamic:column.pipe}}<span *ngIf="column.dataProperty2"> {{ row[column.dataProperty2]}}</span></td>
        </tr>
    </tbody>
  </table>
</div>