tr 
{
    cursor: pointer;
}

th 
{
    cursor: pointer;
    white-space: nowrap;
}

.table-responsive 
{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 400px;
}

.d-inline-block {
    padding-right: 10px;
}

.filterTextDropdown {
    width: 15em;
}

.filterDateDropdown {
    width: 25em;
}

.deleted {
    text-decoration: line-through;
}

.alignRight {
    text-align: end;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.noWrap {
    white-space: nowrap;
}

.subDataProperty1 {
    font-size: small;
    font-style: italic;
}

p {
    margin-bottom: 0;
}

.hidden {
    display: none;
}