@using DataView;
@inject DataViewManager _dataViewManager;

<button class="btn btn-primary" @onclick="() => Test()">Test</button>
@code {
    [Parameter]
    public DataView? DataView { get; set; }

    [Parameter]
    public bool SingleRecord { get; set; }


    async Task Test()
    {
        //    _dataViewManager.OpenSideDialog(false);
        if (DataView == null)
            return;

        
        var detailsView = _dataViewManager.DataViews.FirstOrDefault(dv => dv.Name == DataView.GetDetailsDataViewName());
        if (detailsView == null)
            return;

        detailsView.Query.IdFilters.Clear();
        detailsView.Query.IdFilters.AddRange(DataView.CheckedRecords.Keys);
        await detailsView.Requery();
        var t = detailsView.Result;

    }
}
