@using DataSource;
@using DataView;
@using FinancesBlazor.Components.Details.Rows;
@implements IDisposable;
@inject DataViewManager _dataViewManager;

<button class="btn btn-primary" @onclick="() => Test()">Test</button>
@if (DataView?.Result?.Rows != null)
{
    <div class="d-flex flex-nowrap">
    @foreach (var row in _visibleDetails.Keys)
    {
        <DynamicRow DataView=@_visibleDetails[row] Row=@(_visibleDetails[row]?.Result?.GetById(row))></DynamicRow>
    }
    </div>
}
@code {
    [Parameter]
    public DataView? DataView  { get; set; }
    private Dictionary<string, DataView?> _details = new();
    private Dictionary<string, DataView?> _visibleDetails
    {
        get
        {
            if (_details == null || DataView == null)
                return new();
            var startingIndex = Math.Min(DataView.DetailsIndex, _details.Count - DetailSettings.MaximumNumberOfDetails);
            if (startingIndex < 0)
                startingIndex = 0;
            return _details.Skip(startingIndex).Take(3).ToDictionary(k=> k.Key, v=> v.Value);
        }
    }

    protected override void OnInitialized()
    {
        _dataViewManager.ViewChanged += ViewChanged;
    }

    protected override async void OnAfterRender(bool firstRender)
    {

        // var detailsView = _dataViewManager.DataViews.FirstOrDefault(dv => dv.Name == DataView.GetDetailsDataViewName());
        // if (detailsView == null)
        //     return;

        // detailsView.Query.IdFilters.Clear();
        // detailsView.Query.IdFilters.AddRange(DataView.CheckedRecords.Keys);
        // await detailsView.Requery();
        // var t = detailsView.Result;
    }

    async Task Test()
    {
        //    _dataViewManager.OpenSideDialog(false);
        if (DataView == null)
            return;

        _details = DataView.CheckedRecords.Keys.ToDictionary(k => k, v => (DataView?)null);
        foreach (var group in DataView.CheckedRecords.GroupBy(cr => cr.Value))
        {
            var detailsView = _dataViewManager.DataViews.FirstOrDefault(dv => dv.Name == group.Key);
            if (detailsView == null)
                continue;

            var ids = group.Select((k, v) => k.Key).ToList();
            detailsView.Query.IdFilters.Clear();
            detailsView.Query.IdFilters.AddRange(ids);
            await detailsView.Requery();

            foreach (var id in ids)
                _details[id] = detailsView;
        }



    }

    async void ViewChanged(object? sender, DataView e)
    {
    }



    void IDisposable.Dispose()
    {
        _dataViewManager.ViewChanged -= ViewChanged;
    }

}
