<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <cc-balance [balances]="balances"></cc-balance>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <scrapping-info [balances]="balances"></scrapping-info>
  </div>
   
</div>
<div class="row" *ngFor="let dashboardElement of dashboardElements">
  <div class="col-md-12">
    <bills [title]="dashboardElement.title" [bills]="statistics?.bills" [categoryTitles]="dashboardElement.categories" [skipSums]="dashboardElement.skipSums"></bills>
  </div>
</div>