@inherits LayoutComponentBase

<PageTitle>Finanse</PageTitle>
<RadzenComponents />
<RadzenDialog />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       @*  <div class="top-row px-4">
            
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<link rel="stylesheet" href="css/font-awesome/css/fontawesome.min.css" />
<script src="css/font-awesome/js/all.min.js"></script>