@using FinancesBlazor.Components.Details;
@inherits LayoutComponentBase
@inject DataViewManager _dataViewManager;
@implements IDisposable;


<PageTitle>Finanse</PageTitle>
<RadzenComponents />
<RadzenDialog />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       @*  <div class="top-row px-4">
            
        </div> *@
        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="sidebar2" style="@GetWidth()">
        <FinancesBlazor.Components.Details.Details @ref="detailsComponent" />
    </div>

</div>
<link rel="stylesheet" href="css/font-awesome/css/fontawesome.min.css" />
<script src="css/font-awesome/js/all.min.js"></script>

@code{
    Details? detailsComponent;
    int width = 0;

    public string GetWidth()
    {
        return $"width:{width}px";
    }

    protected override void OnInitialized()
    {
        _dataViewManager.SelectedData.Changed += SelectedDataChanged;
        _dataViewManager.SelectedData.DetailsCollapsedChanged += DetailsCollapsedChanged;
    }

    async void SelectedDataChanged(object? sender, EventArgs e)
    {
        if (detailsComponent == null)
            return;

        CalculateDetailsWidth();
        StateHasChanged();
        await detailsComponent.LoadDetails();
    }

    void DetailsCollapsedChanged(object? sender, EventArgs e)
    {
        CalculateDetailsWidth();
        StateHasChanged();
    }

    private void CalculateDetailsWidth()
    {
        if (_dataViewManager.SelectedData.DetailsCollapsed && _dataViewManager.SelectedData.Ids.Count > 0)
            width = 50;
        else
            width = Math.Min(DetailSettings.MaximumNumberOfDetails, _dataViewManager.SelectedData.Ids.Count) * DetailSettings.DetailsWidth;
    }

    void IDisposable.Dispose()
    {
        _dataViewManager.SelectedData.Changed -= SelectedDataChanged;
        _dataViewManager.SelectedData.DetailsCollapsedChanged -= DetailsCollapsedChanged;
    }
}