@using FinancesBlazor.ViewManager;
@inject ViewManager _viewManager;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Finanse</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (var view in _viewManager.Views)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetViewUrl(view)" Match="NavLinkMatch.All">
                    <span class="@GetViewIcon(view)" aria-hidden="true"></span> @GetViewTitle(view)
                </NavLink> 
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {

    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string GetViewUrl(View view) => $"?av={view.Name}";

    private string? GetViewTitle(View view) => view.Presentation?.NavMenuTitle;

    private string? GetViewIcon(View view) => $"oi {view.Presentation?.NavMenuIcon}";
}
