@using DataView;
@inject DataViewManager _dataViewManager;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Finanse</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (var dataView in _dataViewManager.DataViews.Where(dv => dv.Presentation != null))
        {
            <div class="nav-item px-3" @onclick="() => Navigate(dataView)">
                <NavLink class="nav-link" Match="NavLinkMatch.All">
                    <span class="@GetViewIcon(dataView)" aria-hidden="true"></span> @GetViewTitle(dataView)
                </NavLink> 
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string? GetViewTitle(DataView dataView) => dataView.Presentation?.NavMenuTitle;

    private string? GetViewIcon(DataView dataView) => $"oi {dataView.Presentation?.NavMenuIcon}";

    private void Navigate(DataView dataView)
        => _dataViewManager.ChangeActiveView(dataView);
    
}
